body {
  --main-red: #ea483e;
}

body {
  background-color: #f9f9f9;
  color: #666;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  min-width: 600px;
  padding: 0;
  text-align: center;
}

.header {
  background-color: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.centred-header {
  display: grid;
  grid-template-columns: 40% repeat(4, 15%);
  height: 100px;
  line-height: 100px;
  max-width: 700px;
  margin: 0 auto;
  vertical-align: middle;
}

.score-header{
  grid-template-columns: 70% repeat(2, 15%);
}

.centred-header h1, a {
  color: var(--main-red);
  float: left;
  margin: 0;
  padding: 0;
}

.centred-header a {
  text-decoration: none;
}

.centred-header a:hover {
  text-decoration: underline;
}

.centred-header div {
  text-align: center;
  font: 700 20px/100px Ubuntu, sans-serif;
}

.centred-header div, .restart, .score-link, .back-link {
  transition: all 0.2s;
}

.centred-header div:hover, .restart:hover, 
.score-link:hover, 
.back-link:hover, .erase:hover {
  background-color: #f5f5f5;
  color: #5eb3ef;
  font-size: 160%;
  cursor: pointer;
}

.restart, .erase {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.score-link, .back-link {
  color: #666;
  font-size: 20px;
}

/*cell grid*/

.grid {
  margin: 25px auto;
}

.cell-closed {
  --cell-bk-color: #999;
  --cell-border-color: #555;
}

.cell-opened {
  --cell-bk-color: #CCC;
  --cell-border-color: #555;
}

.cell-closed, .cell-opened {
  background-color: var(--cell-bk-color);
  border: 1px solid var(--cell-border-color);
  outline: 1px solid var(--cell-border-color);
  cursor: default;
  font-weight: bold;
}

.cell-flagged {
  background-color: #BBB;
  background-image: url('img/red.png');
  background-repeat: no-repeat;
  background-position: center;
}

.mine {
  background-image: url('img/mine.png');
  background-repeat: no-repeat;
  background-position: center;
}

.exploded {
  background-color: tomato;
}

/* modal */

.modal {
  background-color: rgba(150, 150, 150, 0.2);
  height: 80%;
  left: 0;
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 1;
}

.modal h1 {
  background: rgba(250, 250, 250, 0.3);
  ;
  box-shadow: 0 15px 5px rgba(0.9, 0.9, 0.9, 0.2);
  color: #333;
  font-size: 2em;
  padding: 20px;
  position: sticky;
  text-align: center;
  top: 40%;
}

.win-modal {
  background-color: #fff;
  margin: 0 auto;
  position: sticky;
  top: 30%;
  width: 500px;
}

.win-modal header {
  background-color: var(--main-red);
  color: #fff;
  font-size: 1.5em;
  padding: 15px;
}

.win-modal form {
  font-size: 1.2em;
  padding: 20px;
}

.win-modal label, .win-modal input {
  font-weight: 700;
  margin: 10px;
  padding: 5px;
  width: 90%;
}

.win-modal .btn {
  width: 30%;
  background-color: var(--main-red);
  color: #fff;
}

/* score page*/

.source {
  color: var(--main-red);
  font-size: 16px;
  font-weight: 700;
  float: right;
  margin: 20px;
  text-decoration: none;
}

.source {
  color: #5eb3ef;
  float: none;
}

.source:hover {
  text-decoration: underline;
}

.score {
  margin: 0 auto;
  max-width: 700px;
}

.best-time {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  padding: 10px;
}

.best-time.even {
  background-color: #EEE;
}

footer {
  background: #666;
  bottom: 0%;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}